.container{
    width: $fullWidth;
    
    & > .logo{
        position: relative;
        float: left;
//        padding: $defaultSpacing;
//        width: $logoMaxWidth;

        & > img{
            @include absoluteCenterXY();
            display: block;
            height: auto;
            width: auto;
            //max-width: calc(#{$logoMaxWidth} - 2 * #{$defaultSpacing});
        }
    }
}