.container{
	height: $topBarHeight;
    
    & > .logo{
        height: $logoMaxHeight;
        padding: $defaultSpacing;
        
        & > img{
            max-height: $logoImgMaxHeight;
        }
    }
}