.container{
	height: $topBarHeightMobile;
    
    & > .logo{
        width: $logoMaxWidthMobile;
        height: $logoMaxHeightMobile;
        padding: $mobileDefaultSpacing;
        
        & > img{
            max-width: $logoImgMaxWidthMobile;
            max-height: $logoImgMaxHeightMobile;
        }
    }
}