.container{
	height: $topBarHeightMobile;
    
    & > .logo{
        height: $logoMaxHeightMobile;
        padding: $mobileDefaultSpacing;
        
        & > img{
            max-height: logoImgMaxHeightMobile;
        }
    }
}