@import "~@css/globals";

$wireframeBlue: #2e52cb;
$wireframeWhite: white;

.wireframe{
    border: 1px solid currentColor;
    background-color: $wireframeBlue;
    color: $wireframeWhite;
    @include box-shadow(0 -4px 2px 4px rgba(#000, 0.69));
}

body{
    background-color: $bg;
}