$primary: #3453FF;
$secondary: #3776E8;
$accent: #4AAFFF;

$bg: #E9EBEE;
$textColor: #3C3F41;

$altBg: #161411;
$altTextColor: #C3C0BE;

$white: white;
$black: black;


$regularShadow: 0 0 0.4vh 0.2vh rgba(#000, 0.15);
$regularLeftShadow: -0.2vh 0 0.4vh 0.2vh rgba(#000, 0.15);
$regularBottomShadow: 0px 2px 2px 0px rgba(#000, 0.35);

$regularTextShadow: 0 0 0.2vh rgba(#000, 0.15);
$accentRegularTextShadow: 0 0 0.3vh rgba(#000, 0.35);
$hidingShadow: rgba(#000, 0.35);