@mixin blockAutoCenterY(){
    display: block;
    margin-top: 25%;
    @include translateY(-50%);
}

@mixin blockAutoCenterX(){
    display: block;
    margin-left: 25%;
    @include translateX(-50%);
}

@mixin blockAutoCenterXY(){
    display: block;
    margin-top: 25%;
    margin-left: 25%;
    @include translate3d(-50%, -50%, 0);
}