.menuContainer {
    float: left;
//    width: $menuContainerWidth;
    
    & > .menu-opener {
        position: relative;
    }
    
    & > .menu{
        float: left;
        position: relative;
    }
}